@import '../../components/GlobalStyles/mixin.scss';

main{
    width: 100%;
    height: 650px;
    padding: 10% 6% 0% 6%;
    
    .container{
        width: 100%;
        height: 100%;
        @include flexCenter(center,space-between);

        .images{
            width: 50%;
            height: 100%;

            img{
                @include image;
            }
        }
        .content{
            width: 50%;
            height: 100%;
            @include flexCenter(center, center);

            form{
                width: 80%;
                height: 60%;
                @include test;
            }
        }
    }
}