@import "../../../../components/GlobalStyles/mixin.scss";
.warpper{
    width: 100%;
    height: 100%;
    overflow-x: auto;
    @include customScrollbar(var(--BackgroundColors1), var(--BackgroundColors));

    .skills{
        margin-bottom: 50px;
        border-bottom: 2px solid var(--TextColor2);
    }
}