.page {
    width: 100%;
    height: auto;
    background-color: var(--BackgrountColors1);
    
    .container{
        height: 730px;
        width: 100%;
        display: flex;
        justify-content: space-between;

        .mainAdmin{
            width: 80%;
            height:100% ;
            
            .headerAdmin{
                width: 100%;
                height: 10%;
                padding: 1% 2%;
            }
            .main{
                width: 100%;
                height: 90%;
            }
        }
    }
}

