// desktop
@media screen and (min-width: 1602px) and (max-width: 1920px) {
    .homeMain{
        .home{
            .imgHome{
                margin-top: 5.5%;
                .media{
                    .contentMedia{
                        width: 35%;
                    }
                }
            }
        }
    }
    .about{
        padding: 1% 7% 10% 10%;

        .containerAbout {
            .titleAbout{
                height: 11%;
            }
        }
            
        .contentAbout{
            @include flexCenter(space-around);
    
            .itemAbout{
                padding: 0% 10%;
            }

        }
    }
    .Experience{
        padding: 0 7%;
    }
    .titleContentSkills{
        padding: 0%;
    }
    .resume{
        .containerResume {
            .titleResume{
                height: 9%;
            }
        }
    }
    .titleContact {
        height: 11%;
    }
    .loadMore {
        a {
            height: 100%;
        }
    }
    form{
        button{
            height: 13%;
        }
    }
    .ContactInfro{
        .contentContactInfro{
            .icontContentContactInfro{
                    height: 80%;
            }
        }
    }
}

// laptop
@media screen and (min-width: 1280px) and (max-width: 1601px){
    .about{
        padding: 1% 7% 10% 10%;

        .containerAbout {
            .titleAbout{
                height: 11%;
            }
        }
            
        .contentAbout{
            @include flexCenter(space-around);
    
            .itemAbout{
                padding: 0% 10%;
            }

        }
    }
    .Experience{
        padding: 0 7%;
    }
    .titleContentSkills{
        padding: 0%;
    }
    .resume{
        .containerResume {
            .titleResume{
                height: 9%;
            }
        }
    }
    .Skills{
        .containerSkills{
            .titleSkills{
                height: 8.9%;
                top: 1.5%;
            }
        }
    }
    .Project{
        .containerProject{
            .titleProject {
                height: 8.9%;
                top: 1.7%;
            } 
        } 
    }
    .titleContact {
        height: 11%;
    }
    .loadMore {
        a {
            height: 100%;
        }
    }
    form{
        button{
            height: 13%;
        }
    }
    .ContactInfro{
        .contentContactInfro{
            .icontContentContactInfro{
                    height: 60%;
            }
        }
    }
}


// ipad pro
@media screen and (min-width: 1024px) and  (max-width: 1279px) {
    .itemContentHome {
        h1 {
            font-size: 4.6rem;
        }
    }

    .homeMain{
        .home{
            .contentHome{
                .itemContentHomeButton{
                    a{
                        button{
                            height: 70%;
                        }
                    }
                }
            }

            .imgHome{
                margin-top: 11%;                    
                .media{
                    .contentMedia{
                         width: 70%;
                         height: 65%;
                    } 
            }
            }
        }
    }

    .about{
        padding: 2% 4%;

        .containerAbout {
            
            .titleAbout{
                top: 1%;
                height: 7%;
              
            }
                
            .contentAbout{
        
                .itemAbout{
                    .titleItemDownloadAbout{
                        height: 7%;
                    }          
                }

            }
        }
    }

    .resume{
        padding: 2% 4%;
        .containerResume {
            .titleResume{
                height: 7.7%;
                top: 1%;
            }
        }
    }    

    .Skills{
        padding: 2% 4%;

        .containerSkills{
            .titleSkills{
                top: 1%;
                height: 7.7%;
            }
        }
    }

    .Project{
        padding: 2% 4%;

        .containerProject{
            .titleProject{
                height: 7.7%;
                top: 1%;
            }

            .contentProject{
                .loadMore{
                    height: 9%;
                }
            }
        }
    }

    .Contact{
        padding: 2% 4%;

        .titleContact{
            height: 7.7%;
            top: 1%;
        }
        
        .ContactInfro{
            .contentContactInfro{
                .icontContentContactInfro{
                    height: 40%;
                }
            }
            .itemContentContactInfro{
                padding: 12% 0;
            }
        }
    }

    form button{
        height: 9%;
    }
}

// tablet
@media screen and (min-width: 767px) and  (max-width: 1023px) {
    .homeMain{
        .home{
            .contentHome{
                width: 100%;
                height: 65%;
                padding: 6% 5%;

                .itemContentHomeButton{
                    a{
                        button{
                            width: 25%;
                            height: 70%;
                        }
                    }
                }
            }
            .imgHome{
                display: none;
            }
        }
    }
    .about{
        padding: 2% 5%;

        .containerAbout {
            
            .titleAbout{
                top: 1%;
                height: 7%;
              
            }
                
            .contentAbout{
                display: block;

                .imgAbout{
                    margin-bottom: 2%;
                    @include widthHeight(100%, 50%);
                }

                .itemAbout{
                    padding: 0;
                    @include widthHeight(100%, 50%);

                    .titleItemAbout{
                        margin: 0;
                    }
                    // .titleItemDownloadAbout{
                    //     height: 5%;
                    // } 
                    .titleItemAboutPersonalInformation{
                        .contentTitleItemAbout{
                            margin: 3% 0;
                        }
                    }         

                }

            }
        }
    }
    .resume{
        padding: 2% 5%;

        .containerResume {
            
            .titleResume{
                height: 7%;
                top: 1%;
            }

            .contentResume{
                display: block;

                .Education{
                    overflow-x: auto;
                    @include widthHeight(100%, 50%);
                    @include customScrollbar();

                }
                .Experience{
                    overflow-x: auto;
                    @include widthHeight(100%, 50%);
                    @include customScrollbar();

                }
            }
        }
    }    

    .Skills{
        padding: 2% 4%;

        .containerSkills{
            .titleSkills{
                top: 1%;
                height: 7%;
            }
            .contentSkills{
                display: block;

                .titleContentSkills{
                    @include widthHeight(100%, 50%);
                }
                .listChartsSkills{
                    @include widthHeight(100%, 50%);

                    .chartsSkils{
                        height: 10%;
    
                    }
                }
            }
        }
    }

    .Project{
        padding: 2% 4%;

        .containerProject{
            .titleProject{
                height: 7%;
                top: 1%;
            }

            .contentProject{
                .loadMore{
                    height: 9%;
                }
                .listContentProject{
                    .itemListContentProject{
                        .desProject{
                            .contentDesProject{
                                .itemContentDesProject{
                                    button{
                                        width: 40%;
                                        height: 8%;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .Contact{
        padding: 0% 5%;
        height: 24%;

        .titleContact{
            height: 4.5%;
            top: 1%;
        }

        .contentContact{
            display: block;

            .formContact{

                h2{
                    margin: 0;
                }
                @include widthHeight(100%, 50%);

                form{
                    height: 100%;
                    padding: 0;

                    input{
                        margin: 2% 0;
                    }
                }
            }
 
            
            .ContactInfro{
                @include widthHeight(100%, 50%);
                
                .contentContactInfro{
                    .icontContentContactInfro{
                        height: 40%;
                        width: 9%;
                    }
                }
                .itemContentContactInfro{
                    padding: 2% 0;
                }
            }
        }
    }

    form button{
        height: 9%;
    }
}
// @media screen and (min-width: 767px) and  (max-width: 1023px){}
//smart phone
@media screen and (min-width: 472px) and (max-width: 766px) {
    .homeMain{
        .home{
            .contentHome{
                width: 100%;
                height: 65%;
                padding: 6% 5%;

                .itemContentHomeButton{
                    a{
                        button{
                            width: 20%;
                            height: 45%;
                        }
                    }
                }
            }
            .imgHome{
                display: none;
            }
        }
    }
    .about{
        padding: 2% 5%;

        .containerAbout {
            
            .titleAbout{
                top: 1%;
                height: 8%;
              
            }
                
            .contentAbout{
                display: block;

                .imgAbout{
                    margin-bottom: 2%;
                    @include widthHeight(100%, 50%);
                }

                .itemAbout{
                    padding: 0;
                    @include widthHeight(100%, 50%);

                    .titleItemAbout{
                        margin: 0;
                    }
                    .titleItemAboutPersonalInformation{
                        .contentTitleItemAbout{
                            margin: 3% 0;
                        }
                    }         

                }

            }
        }
    }
    .resume{
        padding: 2% 5%;

        .containerResume {
            
            .titleResume{
                height: 8%;
                top: 1%;
            }

            .contentResume{
                display: block;

                .Education{
                    overflow-x: auto;
                    @include widthHeight(100%, 50%);
                    @include customScrollbar();

                }
                .Experience{
                    overflow-x: auto;
                    @include widthHeight(100%, 50%);
                    @include customScrollbar();

                }
            }
        }
    }    

    .Skills{
        padding: 2% 4%;

        .containerSkills{
            .titleSkills{
                top: 1%;
                height: 8%;
            }
            .contentSkills{
                display: block;

                .titleContentSkills{
                    @include widthHeight(100%, 50%);
                }
                .listChartsSkills{
                    @include widthHeight(100%, 50%);

                    .chartsSkils{
                        height: 10%;
    
                    }
                }
            }
        }
    }

    .Project{
        padding: 2% 4%;

        .containerProject{
            .titleProject{
                height: 8%;
                top: 1%;
            }

            .contentProject{
                .loadMore{
                    height: 9%;
                }
                .listContentProject{
                    .itemListContentProject{
                        .desProject{
                            .contentDesProject{
                                .itemContentDesProject{
                                    button{
                                        width: 40%;
                                        height: 8%;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .Contact{
        padding: 0% 5%;
        height: 24%;

        .titleContact{
            height: 5.2%;
            top: 0.7%;
        }

        .contentContact{
            display: block;

            .formContact{

                h2{
                    margin: 0;
                }
                @include widthHeight(100%, 50%);

                form{
                    height: 100%;
                    padding: 0;

                    input{
                        margin: 2% 0;
                    }
                }
            }
 
            
            .ContactInfro{
                @include widthHeight(100%, 50%);
                
                .contentContactInfro{
                    .icontContentContactInfro{
                        height: 40%;
                        width: 11%;
                    }
                }
                .itemContentContactInfro{
                    padding: 5% 0;
                }
            }
        }
    }

    form button{
        height: 9%;
    }
}
@media screen and (min-width: 377px) and (max-width: 471px) {
    .homeMain{
        .home{
            .contentHome{
                width: 100%;
                height: 65%;
                padding: 6% 5%;

                .itemContentHomeButton{
                    a{

                        button{
                            width: 25%;
                            height: 50%;
                        }
                    }
                }
            }
            .imgHome{
                display: none;
            }
        }
    }
    .about{
        padding: 2% 5%;

        .containerAbout {
            
            .titleAbout{
                top: 1%;
                height: 6.6%;
              
            }
                
            .contentAbout{
                display: block;

                .imgAbout{
                    margin-bottom: 2%;
                    @include widthHeight(100%, 50%);
                }

                .itemAbout{
                    padding: 0;
                    @include widthHeight(100%, 50%);

                    .titleItemAbout{
                        margin: 0;
                    }
                    .titleItemDownloadAbout{
                        a{
                            button{
                                font-size: 1rem;
                            }
                        }
                    } 
                    .titleItemAboutPersonalInformation{
                        .contentTitleItemAbout{
                            margin: 3% 0;
                        }
                    }         

                }

            }
        }
    }
    .resume{
        padding: 2% 5%;

        .containerResume {
            
            .titleResume{
                height: 6.6%;
                top: 1%;
            }

            .contentResume{
                display: block;

                .Education{
                    overflow-x: auto;
                    @include widthHeight(100%, 50%);
                    @include customScrollbar();

                }
                .Experience{
                    overflow-x: auto;
                    @include widthHeight(100%, 50%);
                    @include customScrollbar();

                }
            }
        }
    }    

    .Skills{
        padding: 2% 4%;

        .containerSkills{
            .titleSkills{
                top: 1%;
                height: 6.6%;
            }
            .contentSkills{
                display: block;

                .titleContentSkills{
                    @include widthHeight(100%, 50%);
                }
                .listChartsSkills{
                    @include widthHeight(100%, 50%);

                    .chartsSkils{
                        height: 10%;
    
                    }
                }
            }
        }
    }

    .Project{
        padding: 2% 4%;

        .containerProject{
            .titleProject{
                height: 6.6%;
                top: 1%;
                left: 37%;
            }

            .contentProject{
                .loadMore{
                    height: 5%;
                    a{
                        button{
                            font-size: 1rem;
                        }
                    }
                }
                .listContentProject{
                    .itemListContentProject{
                        width: 100%;

                        .desProject{
                            .contentDesProject{
                                .itemContentDesProject{
                                    button{
                                        width: 40%;
                                        height: 8%;
                                    }
                                }
                            }
                        }
                    }
                    .desProject{

                        .imageDesProject{
                            @include widthHeight(100%, 50%);
                        }
                        .contentDesProject{
                            @include widthHeight(100%, 50%);
                            .icontDesProject{
                                font-size: 2.5rem;
                            }
                        }
                    }
                    .visible{
                        display: block;
                    }
                }
            }
        }
    }

    .Contact{
        padding: 0% 5%;
        height: 24%;

        .titleContact{
            height: 4.6%;
            top: 0.7%;
        }

        .contentContact{
            display: block;

            .formContact{

                h2{
                    margin: 0;
                }
                @include widthHeight(100%, 50%);

                form{
                    height: 100%;
                    padding: 0;

                    input{
                        margin: 2% 0;
                    }
                }
            }
 
            
            .ContactInfro{
                @include widthHeight(100%, 50%);
                
                .contentContactInfro{
                    .icontContentContactInfro{
                        height: 45%;
                        width: 18%;
                    }
                }
                .itemContentContactInfro{
                    padding: 12% 0;
                }
            }
        }
    }

    form button{
        height: 9%;
        width: 40%;
    }
}
@media screen and (max-width: 376px) {
    .homeMain{
        .home{
            .contentHome{
                width: 100%;
                height: 65%;
                padding: 6% 5%;

                .itemContentHomeButton{
                    a{

                        button{
                            width: 25%;
                            height: 50%;
                        }
                    }
                }
            }
            .imgHome{
                display: none;
            }
        }
    }
    .about{
        padding: 2% 5%;

        .containerAbout {
            
            .titleAbout{
                top: 1%;
                height: 5%;
                left: 33%;
            }
                
            .contentAbout{
                display: block;

                .imgAbout{
                    margin-bottom: 2%;
                    @include widthHeight(100%, 50%);
                }

                .itemAbout{
                    padding: 0;
                    @include widthHeight(100%, 50%);

                    .titleItemAbout{
                        margin: 0;
                    }
                    .titleItemDownloadAbout{
                        a{
                            button{
                                font-size: 1rem;
                                width: 35%;
                            }
                        }
                    } 
                    .titleItemAboutPersonalInformation{
                        .contentTitleItemAbout{
                            margin: 3% 0;
                        }
                    }         

                }

            }
        }
    }
    .resume{
        padding: 2% 5%;

        .containerResume {
            
            .titleResume{
                height: 5%;
                top: 1%;
                left: 35%;
            }

            .contentResume{
                display: block;

                .Education{
                    overflow-x: auto;
                    @include widthHeight(100%, 50%);
                    @include customScrollbar();

                }
                .Experience{
                    overflow-x: auto;
                    @include widthHeight(100%, 50%);
                    @include customScrollbar();

                }
            }
        }
    }    

    .Skills{
        padding: 2% 4%;

        .containerSkills{
            .titleSkills{
                top: 1%;
                height: 5%;
                left: 40%;
            }
            .contentSkills{
                display: block;

                .titleContentSkills{
                    @include widthHeight(100%, 50%);
                }
                .listChartsSkills{
                    @include widthHeight(100%, 50%);

                    .chartsSkils{
                        height: 10%;
    
                    }
                }
            }
        }
    }

    .Project{
        padding: 2% 4%;

        .containerProject{
            .titleProject{
                height: 5%;
                top: 1%;
                left: 37%;
            }

            .contentProject{
                .loadMore{
                    height: 5%;
                    a{
                        button{
                            font-size: 1rem;
                        }
                    }
                }
                .listContentProject{
                    .itemListContentProject{
                        width: 100%;

                        .desProject{
                            .contentDesProject{
                                .itemContentDesProject{
                                    button{
                                        width: 40%;
                                        height: 8%;
                                    }
                                }
                            }
                        }
                    }
                    .desProject{

                        .imageDesProject{
                            @include widthHeight(100%, 50%);
                        }
                        .contentDesProject{
                            @include widthHeight(100%, 50%);
                            .icontDesProject{
                                font-size: 2.5rem;
                            }
                        }
                    }
                    .visible{
                        display: block;
                    }
                }
            }
        }
    }

    .Contact{
        padding: 0% 5%;
        height: 24%;

        .titleContact{
            height: 3.8%;
            top: 0.7%;
            left: 37%;
        }

        .contentContact{
            display: block;

            .formContact{

                h2{
                    margin: 0;
                }
                @include widthHeight(100%, 50%);

                form{
                    height: 100%;
                    padding: 0;

                    input{
                        margin: 2% 0;
                    }
                }
            }
 
            
            .ContactInfro{
                @include widthHeight(100%, 50%);
                
                .contentContactInfro{
                    .icontContentContactInfro{
                        height: 40%;
                        width: 18%;
                    }
                }
                .itemContentContactInfro{
                    padding: 12% 0;
                }
            }
        }
    }

    form button{
        height: 9%;
        width: 40%;
    }
}
