* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    font-size: 16px;
    font-family: Inter, sans-serif;
    text-decoration: none;
    scroll-behavior: smooth;
}
:root{
   --ImpressiveColors: #F7B829;
   --BackgrountColors1: #0a101e;
   --BackgrountColors2: #a9adb8;
   --BackgrountColors3: #101624;
   --BackgrountColors4: #070d1b;
   --BackgrountColors5: #2F3742;
   --BackgrountColors6: #2D333C;
   --BackgrountColors7: #313A46;
   --TextColor1: #fdfeff;
   --TextColor2: #a9adb8;   
   --BackgroundColorInput: #232935;
   --BorderColor: #232935;
}

// desktop
@media screen and (min-width: 1080px) and (max-width: 1920px) {
    :root{
        --withDesProject: 1490px;
    }
}

// ipad pro
@media screen and (min-width: 1024px) and  (max-width: 1366px) {
    html {
        font-size: 13px;
    }
}   

// tablet
@media screen and (min-width: 767px) and  (max-width: 1023px) {
    html {
        font-size: 13px;
    }
}


//smart phone
@media screen and (min-width: 472px) and (max-width: 766px) {
    html {
        font-size: 13px;
    }
}
@media screen and (min-width: 377px) and (max-width: 471px) {
    html {
        font-size: 11.8px;
    }
}
@media screen and (max-width: 376px) {
    html {
        font-size: 10px;
    }
}
