* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    font-size: 16px;
    font-family: Inter, sans-serif;
    text-decoration: none;
    scroll-behavior: smooth;
}
:root{
   --ImpressiveColors: #F7B829;
   --BackgrountColors1: #0a101e;
   --BackgrountColors2: #a9adb8;
   --BackgrountColors3: #101624;
   --BackgrountColors4: #070d1b;
   --withDesProject: 1158px;
   --heightDesProject: 500px;
   --TextColor1: #fdfeff;
   --TextColor2: #a9adb8;   
   --BackgroundColorInput: #232935;
   --BorderColor: #232935;
}
