@mixin flexCenter($justify, $align: "center") {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

@mixin image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

@mixin test {
    border: 2px solid white;
}

@mixin borderRadius {
    border-radius: 100px;
    border: none;
    background-color: #F7B829;
    color: #0a101e;
    font-weight: 650;
}

@mixin buttonHover {
    cursor: pointer;
    box-shadow: 0px 5px 5px #f3cb6c;
    transform: translateY(-5px);
    opacity: 3;
    transition: 0.1s linear;
}
@mixin widthHeight($width, $height) {
    width: $width;
    height: $height;
}
@mixin customScrollbar($trackColor: var(--BackgroundColors1), $thumbColor: var(--BackgroundColors)) {
    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-track {
        background: $trackColor;
    }

    &::-webkit-scrollbar-thumb {
        background: $thumbColor;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: $thumbColor;
    }
}
@mixin input($className) {
    #{$className}:-webkit-autofill,
    #{$className}:-webkit-autofill:hover, 
    #{$className}:-webkit-autofill:focus, 
    #{$className}:-webkit-autofill:active {
        -webkit-background-clip: text;
        -webkit-text-fill-color: var(--TextColor2);
        transition: background-color 5000s ease-in-out 0s;
        box-shadow: inset 0 0 20px 20px var(--BackgroundColor1);
    }
    #{$className}[type="number"]::-webkit-inner-spin-button,
    #{$className}[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
    }
    #{$className}[type="date"]::-webkit-calendar-picker-indicator {
        display: none;
    }
}
